In [263]:
import pandas as pd

In [264]:
car = pd.read_csv('car_data.csv')
car.head(5)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [265]:
car.shape

(892, 6)

In [266]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [267]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [268]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [269]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

# **Data preprocessing to done:**


1.   'year' column is not type of int
2.   'year' column has many non-int values
3.   'Price' column has non-int values
4.   'Price' column is not type of int
5.   'kms_driven' has kms with ints
6.   'kms_driven' is not of type int
7.   'kms_driven' has NAN values
8.   'fuel_type' has NAN values
9.   'name' has mixture of variables and nos so, we keep name with only 3 words

In [270]:
# preprocessing now...
backup = car.copy()

print(car.shape)

car = car[car['year'].str.isnumeric()]

print(car.shape)

car['year'] = car['year'].astype(int)

(892, 6)
(842, 6)

In [271]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [272]:
car = car[car['Price'] != 'Ask For Price']  # removing 'Ask for price' value as this col has str val as only 'Ask for price'
car['Price'] = car['Price'].str.replace(',','').astype(int) # removing ',' from Price
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [273]:
print(car['kms_driven'])
car['kms_driven'] =  car['kms_driven'].str.split(' ').str.get(0).str.replace(',','') # removing kms and ','
car = car[car['kms_driven'].str.isnumeric()] 
car['kms_driven'] = car['kms_driven'].astype(int) # changing to numeric type

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [274]:
car.info()
# car['kms_driven']

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [275]:
# print(car[car['fuel_type'].isna()])
# print(car[car['fuel_type'].isna() == False])
car = car[car['fuel_type'].isna() == False]  # removing NAN values in fuel_type
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [276]:
car['name'] = car['name'].str.split().str.slice(0,3).str.join(" ")  # taking only 1st 3 words of name

In [277]:
car  # here index got changed so, we reset index

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [278]:
car.reset_index()  # if drop = True is not written

,index,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,3,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,4,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
811,883,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
812,885,Tata Indica V2,Tata,2009,110000,30000,Diesel
813,886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,888,Tata Zest XM,Tata,2018,260000,27000,Diesel
815,889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [279]:
car.reset_index(drop = True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [280]:
car.describe() #as we have 3 int cols so, describe is given on 3 cols

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [281]:
car[car['Price'] > 6e6] # This is outlier 6e6 = 60L

                   name   company  year    Price  kms_driven fuel_type
562  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

In [282]:
print(car[car['Price'] < 6e6].reset_index(drop = True))
car = car[car['Price'] < 6e6].reset_index(drop = True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [283]:
car.describe()

              year         Price     kms_driven
count   815.000000  8.150000e+02     815.000000
mean   2012.442945  4.017933e+05   46277.096933
std       4.005079  3.815888e+05   34318.459638
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.900000e+05   56879.000000
max    2019.000000  3.100000e+06  400000.000000

In [284]:
# storing cleaned data into csv file
car.to_csv('cleaned_car.csv')

# **MODEL**

In [285]:
X = car.drop(columns = 'Price')
Y = car['Price']

In [286]:
X, Y

(                       name   company  year  kms_driven fuel_type
 0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
 1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
 2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
 3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
 4                 Ford Figo      Ford  2012       41000    Diesel
 ..                      ...       ...   ...         ...       ...
 810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
 811          Tata Indica V2      Tata  2009       30000    Diesel
 812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
 813            Tata Zest XM      Tata  2018       27000    Diesel
 814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

 [815 rows x 5 columns],
 0       80000
 1      425000
 2      325000
 3      575000
 4      175000
         ...
 810    270000
 811    110000
 812    300000
 813    260000
 814    390000
 Name: Price, Length: 815, dtype: int64)

In [288]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2,random_state=42)

In [301]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [302]:
one = OneHotEncoder()
one.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [304]:
column_trans = make_column_transformer((OneHotEncoder(categories= one.categories_),['name','company','fuel_type']),remainder='passthrough')

In [305]:
lr = LinearRegression()

In [306]:
pipe = make_pipeline(column_trans,lr)

In [308]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [309]:
y_pred = pipe.predict(x_test)

In [310]:
r2_score(y_test,y_pred)

0.573149277112929

In [311]:
y_test,y_pred

(196    135000
 299    284999
 388    245000
 227    245000
 664    499000
         ...
 623    179999
 624    140000
 759    425000
 519    110000
 665     85000
 Name: Price, Length: 163, dtype: int64,
 array([  30320.56139293,  397717.16883861,  401636.00389995,
         477836.32798163,  397052.68156268,  450505.93690261,
          98544.15548381,  243735.0417281 ,  459609.28436093,
         199731.62897667,  382261.7728105 ,  328456.08698323,
         691300.87031734,  192124.03715853, 2036027.11343869,
         365131.73081616,  612835.97633321,  349778.70219275,
         943167.9784374 ,  249089.16059233,  371011.04121034,
         121682.89721432,  458859.38806389,  603313.25619616,
         359236.77718152,  355357.74926057,  458825.30398177,
         732913.61415593,  368350.22125244,  605518.01109074,
         692313.23031833,  407525.89682653,  174856.4957141 ,
         128431.96388761,  577950.59028881,  193105.83481384,
         382430.08760712,  634727.58808512,  486735.18296124,
         657084.52089731,  254823.12761649,  469365.55272765,
         -50778.40493946,  532669.21199317,  301345.94973976,
         252349.36860804,  412530.25632989, -124236.41547812,
         127290.40818649,  266912.21568609,  227530.89238899,
        1023106.43614604,  405367.1375786 ,  467538.69075066,
        1532645.67416669,  621380.63375657,  748967.44922654,
         264170.5824002 ,  491840.5294333 ,  297288.85239348,
         284003.87880643,  417698.30184634,  181543.2122698 ,
         -15427.9746215 ,  492651.22385342,  597641.30921562,
         293902.21915772,  345770.43024895,  845949.02131407,
         228720.18085174,  461332.64311854,  413028.26233992,
         125776.70866843,  193998.93580715,  562298.16694134,
         217355.68392005,  284003.87880643,  662829.24212646,
         288689.72277564,   74372.12196521,  649881.09431446,
         430554.12284351,  526420.07493697,  299889.39247435,
         736582.8310494 ,  303435.89698825,  547568.36718912,
         628164.5743368 ,  299889.39247435,  631555.73428944,
          63767.94072196,  732913.61415593,  213845.34980796,
         280815.50120127,  252349.36860804,  448989.75494987,
         434013.22418454,  410256.57527461,  219796.41491707,
         621117.77542491,  262125.95119913,  620963.0840533 ,
         217763.65325893,  308985.12958628,  321219.07986966,
         407536.22741652,  640034.00279754,  327802.599501  ,
        2036027.11343869, 2036214.58751294,   32958.86182373,
         535119.39299779,  277532.80772979,  507883.99586803,
         604627.03151488,  526643.72432179,  375141.90261145,
         401261.37716825,  191596.20003231,  327183.14887802,
         278878.24278355,  307215.3212835 ,  480857.51697604,
         334468.80238679,  387849.86585312,  497359.41106278,
         402479.12977969,  427697.06215816,  505674.17479818,
         615898.28446314,  588471.56883078,  371884.36552109,
         412922.54768559,  517887.73672776,  349625.35415868,
         273947.74253424,  526652.15673803, -103317.9358227 ,
          80981.53091552,  189883.10333762,   53719.0255011 ,
         682965.71029522,  701464.10965602,  493264.04382771,
          36462.11539319,  275157.25433538,  231727.22043968,
         398673.8625242 ,  615692.68734494,  747183.85851835,
         115949.10952761,  420022.33673443,  582599.38394025,
         285690.13758752,  606493.43966703,  253295.56102979,
         217171.77787746,  630396.50199814,  304119.56846381,
         317584.96568666,  306310.32648213,  158983.38877913,
         124780.02772772]))