In [7]:
import pandas as pd
import numpy as np

In [59]:
arr = [1,2,3,4,5,6]
nparr = np.arange(10,30,2).astype(np.float64)
nparr2 = nparr.astype(np.string_)
s = pd.Series(nparr)
# s[s==12] = 0
print(s>=16)

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [63]:
nums = np.arange(30)

evens = nums[nums%2==0]
odds  = nums[nums%2==1]
# print(evens)

df = pd.DataFrame({
    'evens' : evens,
    'odds' : odds
})

df['evens']

0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
Name: evens, dtype: int64

In [52]:
data = {
    'states':['Agrabah','Arendelle','Corona','DunBroch','Enchancia','Genovia'],
    'capital':['Zarbadast','Elsaabad','Rapunzelgarh','Meridapura','Sofia Nagar','Mia Town'],
    'population' : [1234567,2345678,3456789,4567890,5678901,6789012],
    'debt':[12345,23456,34567,45678,56789,67890]
}
df = pd.DataFrame(data)
df.index = np.arange(1,7,1)

      states       capital  population   debt
1    Agrabah     Zarbadast     1234567  12345
2  Arendelle      Elsaabad     2345678  23456
3     Corona  Rapunzelgarh     3456789  34567
4   DunBroch    Meridapura     4567890  45678
5  Enchancia   Sofia Nagar     5678901  56789
6    Genovia      Mia Town     6789012  67890