In [1]:
import pandas as pd

In [2]:
data = {
    'states': ['Noirville', 'Shadowville', 'Gotham', 'Crimsonia', 'Nightfall', 'Ravenholm'],
    'capital': ['Shadowhaven', 'Bloodstone', 'Nightshade', 'Blackwing', 'Moonstone', 'Aurora'],
    'debt': [1000000, 2000000, 3000000, 4000000, 5000000, 6000000],
    'population': [500000, 1000000, 1500000, 2000000, 2500000, 3000000]
}
df = pd.DataFrame(data)

In [3]:
df.loc[df['debt']>3e6,'states'] = 'winners'

In [4]:

df

        states      capital     debt  population
0    Noirville  Shadowhaven  1000000      500000
1  Shadowville   Bloodstone  2000000     1000000
2       Gotham   Nightshade  3000000     1500000
3      winners    Blackwing  4000000     2000000
4      winners    Moonstone  5000000     2500000
5      winners       Aurora  6000000     3000000

In [22]:
import sys

In [29]:
carchunks = pd.read_csv('cleaned_car.csv', chunksize=10)

cars = pd.read_csv('cleaned_car.csv',index_col='Unnamed: 0')
cars.to_csv(sys.stdout,index=False)
# cars

name,Price
Hyundai Santro Xing,80000
Mahindra Jeep CL550,425000
Hyundai Grand i10,325000
Ford EcoSport Titanium,575000
Ford Figo,175000
Hyundai Eon,190000
Ford EcoSport Ambiente,830000
Maruti Suzuki Alto,250000
Skoda Fabia Classic,182000
Maruti Suzuki Stingray,315000
Hyundai Elite i20,415000
Mahindra Scorpio SLE,320000
Hyundai Santro Xing,80000
Mahindra Jeep CL550,425000
Audi A8,1000000
Audi Q7,500000
Mahindra Scorpio S10,350000
Maruti Suzuki Alto,160000
Mahindra Scorpio S10,350000
Mahindra Scorpio S10,310000
Maruti Suzuki Alto,75000
Hyundai i20 Sportz,100000
Hyundai i20 Sportz,100000
Hyundai i20 Sportz,100000
Maruti Suzuki Alto,190000
Maruti Suzuki Vitara,290000
Maruti Suzuki Alto,95000
Mahindra Bolero DI,180000
Maruti Suzuki Swift,385000
Mahindra Scorpio S10,250000
Maruti Suzuki Swift,180000
Maruti Suzuki Wagon,105000
Maruti Suzuki Wagon,105000
Toyota Innova 2.0,650000
Renault Lodgy 85,689999
Skoda Yeti Ambition,448000
Maruti Suzuki Baleno,549000
Renault Duster 110,501000
Renault Duster 85,489999
Honda City 1.5,280000
Maruti Suzuki Alto,250000
Maruti Suzuki Dzire,349999
Honda Amaze,284999
Honda Amaze 1.5,345000
Honda City,499999
Datsun Redi GO,235000
Maruti Suzuki SX4,249999
Mitsubishi Pajero Sport,1475000
Mahindra Bolero DI,180000
Maruti Suzuki Swift,385000
Mahindra Scorpio S10,250000
Maruti Suzuki Swift,180000
Maruti Suzuki Wagon,105000
Maruti Suzuki Wagon,105000
Mahindra Scorpio S10,395000
Maruti Suzuki Swift,220000
Honda City ZX,170000
Maruti Suzuki Wagon,85000
Ford Figo,175000
Hyundai Eon,190000
Tata Indigo eCS,200000
Ford EcoSport Ambiente,830000
Tata Indigo eCS,200000
Mahindra Scorpio SLE,570000
Volkswagen Polo Highline,315000
Skoda Fabia Classic,182000
Maruti Suzuki Stingray,315000
Chevrolet Spark LS,110000
Renault Duster 110PS,501000
Honda City,448999
Mini Cooper S,1891111
Datsun Redi GO,235000
Skoda Fabia 1.2L,159500
Honda Amaze,344999
Honda Amaze,344999
Renault Duster,449999
Mini Cooper S,1891111
Mahindra Scorpio S4,865000
Mahindra Scorpio VLX,699000
Mahindra Quanto C8,375000
Ford EcoSport,489999
Honda Brio,224999
Volkswagen Vento Highline,1200000
Hyundai i20 Magna,195000
Toyota Corolla Altis,351000
Hyundai Verna Transform,160000
Toyota Corolla Altis,240000
Honda City 1.5,90000
Hyundai Elite i20,415000
Skoda Fabia 1.2L,155000
BMW 3 Series,600000
Maruti Suzuki A,189500
Toyota Etios GD,350000
Ford Figo Diesel,210000
Maruti Suzuki Swift,390000
Chevrolet Beat LT,135000
BMW 7 Series,1600000
Mahindra XUV500 W8,701000
Hyundai i10 Magna,265000
Hyundai Verna Fluidic,525000
Maruti Suzuki Swift,372000
Maruti Suzuki Ertiga,635000
Ford EcoSport Titanium,550000
Maruti Suzuki Ertiga,575000
Maruti Suzuki Ertiga,485000
Maruti Suzuki Alto,155000
Hyundai Grand i10,345000
Honda Amaze 1.2,325000
Hyundai i20 Asta,329500
Ford Figo Diesel,195000
Maruti Suzuki Eeco,251111
Maruti Suzuki Ertiga,569999
Maruti Suzuki Esteem,69999
Maruti Suzuki Ritz,299999
Maruti Suzuki Dzire,220000
Maruti Suzuki Ritz,399999
Maruti Suzuki Swift,372000
Maruti Suzuki Dzire,450000
Toyota Etios Liva,270000
Hyundai i20 Sportz,350000
Chevrolet Spark,158400
Maruti Suzuki Alto,350000
Nissan Micra XV,179000
Maruti Suzuki Swift,125000
Maruti Suzuki Alto,200000
Honda Amaze 1.5,299000
Maruti Suzuki Alto,220000
Chevrolet Beat,150000
Honda City 1.5,285000
Ford EcoSport Trend,830000
Hyundai i20 Asta,210000
Maruti Suzuki Swift,340000
Tata Indica V2,90000
Hindustan Motors Ambassador,70000
Toyota Corolla Altis,289999
Toyota Corolla Altis,349999
Toyota Innova 2.5,849999
Volkswagen Jetta Highline,749999
Volkswagen Polo Comfortline,399999
Volkswagen Polo,274999
Mahindra Scorpio,984999
Renault Duster,449999
Honda Amaze,344999
Nissan Sunny,224999
Hyundai Elite i20,599999
Renault Kwid,244999
Renault Duster,399999
Ford EcoSport,489999
Renault Duster,474999
Mahindra Scorpio VLX,499999
Maruti Suzuki Alto,310000
Chevrolet Spark LT,85000
Datsun Redi GO,245000
Maruti Suzuki Swift,189500
Fiat Punto Emotion,169500
Maruti Suzuki Swift,159500
Toyota Etios GD,275000
Hyundai i20 Sportz,370000
Hyundai i10 Sportz,168000
Chevrolet Beat LT,150000
Chevrolet Beat LS,145000
Chevrolet Beat LT,98500
Mahindra Scorpio VLX,699000
Tata Indigo CS,85000
Toyota Corolla Altis,575000
Honda City 1.5,549000
Maruti Suzuki Swift,209000
Hyundai Eon Era,185000
Mahindra Scorpio S10,900000
Mahindra XUV500,699999
Honda Brio,224999
Ford Fiesta,274999
Honda Amaze,284999
Honda City,599999
Maruti Suzuki Wagon,199999
Honda City,544999
Hyundai i20,199000
Tata Indigo eCS,320000
Hyundai Fluidic Verna,540000
Mahindra Quanto C8,340000
Fiat Petra ELX,75000
Skoda Fabia 1.2L,159500
Mini Cooper S,1891111
Hyundai Santro Xing,49000
Maruti Suzuki Ciaz,700000
Maruti Suzuki Zen,55000
Honda City,448999
Hyundai Creta 1.6,895000
Mahindra Scorpio SLX,355000
Mahindra Scorpio SLE,565000
Toyota Innova 2.5,365000
Maruti Suzuki Alto,145000
Maruti Suzuki Wagon,210000
Tata Nano Cx,40000
Maruti Suzuki Alto,125000
Maruti Suzuki Wagon,135000
Maruti Suzuki Swift,135000
Tata Sumo Victa,285000
Maruti Suzuki Wagon,145000
Maruti Suzuki Alto,135000
Volkswagen Passat Diesel,450000
Renault Scala RxL,375000
Mahindra Quanto C8,375000
Hyundai Grand i10,365000
Hyundai i20 Active,500000
Mahindra Xylo E4,400000
Mahindra Jeep MM,390000
Renault Duster 110PS,501000
Mahindra Bolero SLE,330000
Force Motors Force,580000
Maruti Suzuki SX4,265000
Mahindra Jeep CL550,379000
Maruti Suzuki Alto,219000
Mahindra Jeep CL550,385000
Toyota Etios,275000
Volkswagen Polo,330000
Honda City ZX,110000
Maruti Suzuki Wagon,80000
Honda City VX,519000
Mahindra Thar CRDe,730000
Mitsubishi Pajero Sport,1475000
Audi A4 1.8,699000
Mercedes Benz GLA,2000000
Land Rover Freelander,2100000
Renault Kwid RXT,340000
Tata Aria Pleasure,390000
Mercedes Benz B,1400000
Datsun GO T,245000
Tata Indigo eCS,320000
Tata Indigo eCS,320000
Honda Jazz VX,450000
Honda Amaze 1.2,311000
Honda Amaze,284999
Honda City,399999
Honda City,599999
Honda Amaze,344999
Audi A4 1.8,699000
Force Motors Force,580000
Mahindra Scorpio S4,855000
Hyundai i20 Active,535000
Mini Cooper S,1891111
Maruti Suzuki Ciaz,699000
Chevrolet Tavera Neo,375000
Honda Amaze,284999
Hyundai Eon Sportz,178000
Tata Sumo Gold,300000
Maruti Suzuki Wagon,90000
Maruti Suzuki Esteem,95000
Maruti Suzuki Eeco,255000
Chevrolet Enjoy 1.4,245000
Hyundai i20 Asta,329500
Ford Figo Diesel,195000
Maruti Suzuki Eeco,251111
Maruti Suzuki Ertiga,569999
Maruti Suzuki Esteem,69999
Maruti Suzuki Ritz,299999
Maruti Suzuki Dzire,220000
Maruti Suzuki Ritz,399999
Maruti Suzuki SX4,249999
Maruti Suzuki Wagon,289999
Mini Cooper S,1891111
Nissan Terrano XL,499999
Renault Duster 85,489999
Renault Duster 85,489999
Renault Duster 85,549999
Maruti Suzuki Dzire,380000
Renault Kwid RXT,325000
Maruti Suzuki Maruti,57000
Renault Kwid 1.0,349999
Renault Lodgy 85,689999
Renault Scala RxL,349999
Hyundai Grand i10,410000
Maruti Suzuki Swift,225000
Chevrolet Beat LS,120000
Tata Indigo eCS,320000
Hyundai Santro Xing,59000
Hyundai Fluidic Verna,540000
Chevrolet Beat LS,80000
Mahindra Quanto C8,340000
Fiat Petra ELX,75000
Chevrolet Beat LS,220000
Skoda Fabia 1.2L,159500
Ford EcoSport Titanium,599000
Hyundai Accent GLX,80000
Mahindra TUV300 T4,675000
Mini Cooper S,1891111
Mini Cooper S,1891111
Tata Indica V2,150000
Mini Cooper S,1891111
Tata Indigo CS,72500
Maruti Suzuki Swift,610000
Mahindra Scorpio VLX,230000
Honda Accord,175000
Mahindra Scorpio S4,855000
Chevrolet Tavera Neo,375000
Ford EcoSport Titanium,520000
Maruti Suzuki Ertiga,524999
Honda Amaze,299999
Maruti Suzuki Dzire,299999
Honda City,284999
Mahindra Scorpio 2.6,220000
Maruti Suzuki Dzire,424999
Honda City,644999
Honda Mobilio,399999
Toyota Corolla Altis,199999
Honda City,584999
Skoda Laura,349999
Renault Duster,449999
Maruti Suzuki Ertiga,799999
Maruti Suzuki Dzire,444999
Mahindra XUV500,649999
Hyundai Verna Fluidic,444999
Maruti Suzuki Vitara,689999
Maruti Suzuki Wagon,344999
Mahindra Scorpio,944999
Honda Amaze,274999
Mahindra XUV500,689999
Mahindra Scorpio,574999
Skoda Laura,374999
Volkswagen Polo,199999
Hyundai Elite i20,549999
Tata Manza Aura,130000
Chevrolet Sail UVA,210000
Renault Duster 110,501000
Hyundai Verna Fluidic,401000
Audi A4 2.0,1350000
Hyundai Elantra SX,600000
Mahindra Scorpio VLX,610000
Mahindra KUV100 K8,400000
Renault Scala RxL,375000
Mahindra Quanto C8,375000
Hyundai Grand i10,365000
Hyundai i20 Active,500000
Mahindra Xylo E4,400000
Hyundai Grand i10,524999
Hyundai i20,449999
Hyundai Eon,174999
Hyundai i10,244999
Hyundai i20 Active,574999
Datsun Redi GO,244999
Toyota Etios Liva,239999
Hyundai Accent,99999
Hyundai Verna,489999
Maruti Suzuki Swift,324999
Toyota Fortuner,1074999
Hyundai i10 Sportz,230000
Mahindra Bolero Power,699000
Mahindra XUV500,1000000
Honda City 1.5,240000
Chevrolet Spark LT,110000
Mahindra Jeep MM,390000
Renault Duster 110PS,501000
Mahindra XUV500,1130000
Tata Indigo eCS,250000
Mahindra Bolero SLE,330000
Force Motors Force,580000
Skoda Rapid Elegance,340000
Tata Vista Quadrajet,120000
Maruti Suzuki Alto,265000
Maruti Suzuki SX4,265000
Maruti Suzuki Zen,85000
Mahindra Jeep CL550,379000
Hyundai i10 Magna,175000
Maruti Suzuki Alto,219000
Maruti Suzuki Swift,350000
Honda City ZX,149000
Mahindra Jeep CL550,385000
Mahindra Jeep MM,425000
Chevrolet Beat Diesel,150000
Honda City 1.5,225000
Hyundai Verna 1.4,375000
Toyota Innova 2.5,770000
Maruti Suzuki Maruti,30000
Toyota Etios,275000
Volkswagen Polo,330000
Maruti Suzuki Swift,335000
Hyundai Elite i20,450000
Maruti Suzuki Swift,225000
Maruti Suzuki Versa,80000
Tata Indigo LX,130000
Volkswagen Vento Konekt,245000
Mercedes Benz C,399000
Maruti Suzuki Ertiga,450000
Honda City,65000
Hyundai Santro Xing,75000
Maruti Suzuki Omni,70000
Hyundai Sonata Transform,190000
Hyundai Elite i20,600000
Volkswagen Vento Konekt,245000
Maruti Suzuki Alto,240000
Maruti Suzuki Alto,155000
Honda Jazz S,169999
Hyundai Grand i10,450000
Maruti Suzuki Zen,40000
Mahindra Scorpio W,165000
Maruti Suzuki Alto,270000
Hyundai Grand i10,280000
Mahindra XUV500 W8,560000
Hyundai Creta 1.6,950000
Hyundai i20 Magna,310000
Renault Duster 85,715000
Hyundai Grand i10,340000
Honda Brio V,235000
Mahindra TUV300 T4,610000
Chevrolet Spark LS,95000
Mahindra TUV300 T8,1000000
Maruti Suzuki Swift,220000
Nissan X Trail,1200000
Maruti Suzuki Alto,230000
Ford Ikon 1.3,45000
Toyota Fortuner 3.0,940000
Tata Manza ELAN,155555
Mercedes Benz A,1500000
Chevrolet Beat LS,210000
Ford EcoSport Trend,495000
Tata Indigo LS,125000
Hyundai i20 Magna,195000
Volkswagen Vento Highline,550000
Renault Kwid RXT,270000
Ford EcoSport Titanium,500000
Honda Amaze 1.5,240000
Hyundai Verna 1.6,800000
BMW 5 Series,1299000
Skoda Superb 1.8,530000
Audi Q3 2.0,1499000
Mahindra Bolero DI,220000
Mahindra Scorpio S10,900000
Ford Figo Duratorq,250000
Maruti Suzuki Wagon,395000
Mahindra Logan Diesel,130000
Tata Nano GenX,32000
Mahindra TUV300 T4,540000
Mahindra TUV300 T4,540000
Hyundai Elite i20,405000
Hyundai Elite i20,400000
Honda City SV,760000
Maruti Suzuki Baleno,500000
Ford Figo Petrol,175000
Mahindra Scorpio S10,900000
Honda City,750000
Hyundai Elite i20,419000
Maruti Suzuki Versa,90000
Hyundai Eon Era,140000
Mitsubishi Pajero Sport,1540000
Hyundai i10 Magna,275000
Toyota Corolla H2,150000
Maruti Suzuki Swift,230000
Tata Indigo CS,123000
Mahindra Scorpio S10,900000
Mahindra Scorpio S10,900000
Hyundai Xcent Base,300000
Honda City,499999
Hyundai Accent Executive,165000
Maruti Suzuki Baleno,498000
Tata Zest XE,480000
Maruti Suzuki Dzire,488000
Tata Sumo Gold,250000
Toyota Corolla Altis,220000
Maruti Suzuki Eeco,290000
Toyota Fortuner 3.0,1525000
Mahindra XUV500 W6,548900
Tata Tigor Revotron,650000
Maruti Suzuki 800,55000
Maruti Suzuki Ertiga,550000
Maruti Suzuki Versa,90000
Honda Mobilio S,399000
Maruti Suzuki Ertiga,730000
Maruti Suzuki Vitara,725000
Hyundai Verna 1.6,195000
Maruti Suzuki Swift,130000
Toyota Fortuner 3.0,1525000
Maruti Suzuki Omni,190000
Honda Amaze,250000
Tata Indica,80000
Hyundai Santro Xing,120000
Maruti Suzuki Zen,149000
Maruti Suzuki Wagon,250000
Maruti Suzuki Wagon,120000
Honda Brio VX,450000
Maruti Suzuki Zen,99999
Maruti Suzuki Zen,135000
Maruti Suzuki Wagon,225000
Maruti Suzuki Alto,99000
Renault Kwid RXT,370000
Tata Nano Lx,52000
Jaguar XE XE,2800000
Hyundai Eon Magna,190000
Honda City 1.5,499000
Hindustan Motors Ambassador,90000
Maruti Suzuki Ritz,149000
Hyundai Grand i10,400000
Hyundai Eon D,120000
Maruti Suzuki Swift,250000
Maruti Suzuki Wagon,375000
Honda Amaze 1.2,381000
Maruti Suzuki Estilo,180000
Maruti Suzuki Vitara,580000
Maruti Suzuki Eeco,278000
Hyundai Creta 1.6,1000000
Mahindra Scorpio Vlx,690000
Maruti Suzuki Ertiga,480000
Mitsubishi Lancer 1.8,85000
Maruti Suzuki Maruti,40000
Maruti Suzuki Alto,90000
Hyundai Grand i10,340000
Hyundai Eon D,260000
Ford Fiesta SXi,250000
Maruti Suzuki Ritz,180000
Hyundai Verna Fluidic,350000
Maruti Suzuki Wagon,90001
Maruti Suzuki Estilo,115000
Audi A6 2.0,1599000
Maruti Suzuki Wagon,130000
Maruti Suzuki Wagon,159000
Maruti Suzuki Wagon,160000
Maruti Suzuki Alto,110000
Maruti Suzuki Baleno,425000
Hyundai Verna 1.6,900000
Maruti Suzuki Swift,150000
Hyundai Getz Prime,110000
Hyundai Santro,51999
Hyundai Getz Prime,115000
Chevrolet Beat PS,215000
Ford EcoSport Trend,580000
Maruti Suzuki Dzire,380000
Hyundai Fluidic Verna,350000
Tata Indica V2,35000
BMW X1 xDrive20d,1150000
Hyundai i20 Asta,300000
Honda City 1.5,269000
Tata Nano,60000
Chevrolet Cruze LTZ,400000
Hyundai Verna Fluidic,430000
Maruti Suzuki Swift,140000
Mahindra XUV500 W10,1299000
Maruti Suzuki Alto,199000
Hyundai Accent GLE,90000
Force Motors One,550000
Maruti Suzuki Alto,265000
Chevrolet Spark 1.0,100000
Hyundai i10,215000
Toyota Etios Liva,380000
Renault Duster 85PS,401919
Chevrolet Enjoy,490000
Maruti Suzuki Alto,280000
BMW 5 Series,650000
Toyota Etios Liva,160000
Mahindra Jeep MM,424000
Chevrolet Beat LS,225000
Chevrolet Cruze LTZ,350000
Jeep Wrangler Unlimited,950000
Maruti Suzuki Ertiga,485000
Hyundai Verna VGT,205000
Maruti Suzuki Omni,160000
Maruti Suzuki Celerio,310000
Tata Zest Quadrajet,180000
Mahindra XUV500 W6,549900
Tata Indigo CS,150000
Hyundai i10 Era,175000
Tata Indigo eCS,95000
Tata Indigo LX,230000
Tata Indigo eCS,230000
Tata Indigo Marina,180000
Hyundai Xcent SX,400000
Hyundai Eon Magna,185000
Renault Duster 85,385000
Maruti Suzuki Alto,90000
Tata Nano LX,32000
Renault Duster 110,435000
Maruti Suzuki Wagon,225000
Maruti Suzuki Swift,189700
Maruti Suzuki Ertiga,389700
Maruti Suzuki Swift,365000
Maruti Suzuki Alto,360000
Hyundai i20 Magna,210000
Hyundai i10 Magna,170000
Tata Zest XE,380000
Mahindra Xylo E8,295000
Toyota Corolla Altis,185000
Tata Manza Aqua,160000
Renault Kwid 1.0,290000
Tata Venture EX,100000
Maruti Suzuki Swift,315000
Skoda Octavia Classic,114990
Maruti Suzuki Omni,120000
Chevrolet Beat Diesel,125000
Tata Sumo Gold,210000
Hyundai Verna 1.6,855000
Tata Sumo Gold,210000
Mahindra Scorpio 2.6,260000
Maruti Suzuki Zen,95000
Maruti Suzuki Swift,255000
Mahindra Scorpio SLX,300000
Hyundai Grand i10,340000
Hyundai Elite i20,550000
Ford Ikon 1.6,60000
Toyota Innova 2.5,750000
Nissan Sunny XL,230000
Chevrolet Beat LT,130000
Maruti Suzuki Alto,270000
Maruti Suzuki Swift,280000
Maruti Suzuki Swift,280000
Maruti Suzuki Swift,280000
Toyota Innova 2.0,600000
Maruti Suzuki Swift,190000
Hyundai Elite i20,500000
Mahindra XUV500 W10,1065000
Volkswagen Polo Trendline,350000
Toyota Etios Liva,350000
Mahindra TUV300 T4,540000
Hyundai Elite i20,470000
Hyundai Santro Xing,179000
Maruti Suzuki Zen,48000
Maruti Suzuki Ciaz,650000
Hyundai Eon Era,190000
Hyundai Elantra 1.8,500000
Maruti Suzuki Swift,270000
Maruti Suzuki Zen,125000
Hyundai Eon Era,188000
Hyundai Grand i10,380000
Hyundai Verna Fluidic,365000
Ford EcoSport Trend,465000
Hyundai i20 Magna,240000
Chevrolet Beat Diesel,179999
Tata Indica eV2,140000
Jaguar XF 2.2,2190000
Audi Q5 2.0,2390000
BMW 3 Series,1075000
Maruti Suzuki Swift,475000
BMW X1 sDrive20d,1025000
Maruti Suzuki S,615000
Maruti Suzuki Ertiga,475000
Maruti Suzuki Alto,270000
Honda City SV,475000
Volkswagen Vento Comfortline,240000
Honda City 1.5,120000
Audi A4 2.0,1900000
Mahindra KUV100,360000
Tata Zest XE,450000
Mahindra XUV500 W8,900000
Maruti Suzuki Swift,650000
Tata Sumo Gold,275000
Maruti Suzuki Swift,210000
Mahindra Scorpio 2.6,175000
Maruti Suzuki Omni,85000
Mitsubishi Pajero Sport,1490000
Renault Duster,800000
Volkswagen Jetta Comfortline,450000
Maruti Suzuki Ertiga,1000000
Audi A4 2.0,1510000
Volvo S80 Summum,1850000
Toyota Corolla Altis,790000
Mitsubishi Pajero Sport,1725000
Chevrolet Beat LT,135000
BMW X1,1000000
Datsun Redi GO,299999
Mercedes Benz C,1225000
Mahindra Scorpio SLX,175000
Volkswagen Vento Comfortline,200000
Tata Indigo CS,270000
Ford Figo Petrol,525000
Honda City ZX,180000
Maruti Suzuki Wagon,140000
Ford EcoSport Trend,400000
Maruti Suzuki Swift,499000
Maruti Suzuki Omni,85000
Maruti Suzuki Zen,70000
Renault Duster RxL,550000
Maruti Suzuki Swift,370000
Maruti Suzuki Baleno,690000
Honda WR V,250000
Tata Indigo CS,110000
Renault Duster 110,490000
Mahindra Scorpio LX,320000
Maruti Suzuki Zen,68000
Maruti Suzuki Wagon,130000
Maruti Suzuki SX4,970000
Audi A3 Cabriolet,3100000
Hyundai Eon D,280000
Maruti Suzuki Zen,125000
Mahindra Scorpio SLX,285000
Hyundai Santro AE,165000
Maruti Suzuki Swift,250000
Mahindra Scorpio S4,865000
Mahindra Xylo D2,390000
Hyundai Santro,60000
Chevrolet Beat LT,215000
Maruti Suzuki Swift,475000
Mahindra XUV500 W8,899000
Toyota Fortuner 3.0,1499000
Maruti Suzuki Alto,240000
Hyundai Getz GLE,99000
Maruti Suzuki Swift,260000
Hyundai Creta 1.6,1200000
Hyundai Santro Xing,115000
Hyundai Santro Xing,88000
Mahindra Xylo D2,390000
Hyundai Santro Xing,135000
Tata Indica V2,90000
Hyundai i10 Sportz,220000
Hyundai Grand i10,424999
Hyundai Santro Xing,135000
Honda City 1.5,95000
Nissan Micra XL,430000
Honda City 1.5,115000
Maruti Suzuki Alto,215000
Maruti Suzuki Wagon,53000
Maruti Suzuki Ertiga,500000
Tata Indica eV2,85000
Maruti Suzuki Omni,165000
Hyundai Eon Era,200000
Hyundai Eon,200000
Maruti Suzuki Swift,425000
Hyundai Verna 1.6,600000
Chevrolet Tavera LS,130000
Tata Tiago Revotron,430000
Tata Tiago Revotorq,568500
Maruti Suzuki Zen,71000
Mahindra KUV100 K8,560000
Ford EcoSport Titanium,590000
Hindustan Motors Ambassador,750000
Ford Fusion 1.4,125000
Hyundai Santro Xing,135000
Hyundai Santro,60000
Fiat Linea Emotion,120000
Ford Ikon 1.3,95000
Maruti Suzuki Omni,240000
Tata Indica V2,115000
Mahindra Scorpio S4,795000
Hyundai Santro Xing,55000
Mahindra Xylo D2,300000
Hyundai Grand i10,320000
Maruti Suzuki Alto,265000
Toyota Corolla,160000
Hyundai Eon Magna,300000
Tata Sumo Grande,130000
Maruti Suzuki Swift,250000
Volkswagen Polo Highline1.2L,380000
Maruti Suzuki Alto,42000
Tata Tiago Revotron,400000
Maruti Suzuki Swift,120000
Maruti Suzuki Swift,120000
Tata Indigo eCS,130000
Chevrolet Beat LS,189000
Mahindra Xylo E8,365000
Hyundai Eon D,170000
Tata Sumo Gold,215000
Tata Nano,60000
Hyundai Elite i20,599999
Hyundai i10 Magna,400000
Hyundai Creta,900000
Volkswagen Polo,299999
Maruti Suzuki Dzire,374999
Tata Bolt XM,600000
Maruti Suzuki Alto,70000
Maruti Suzuki Alto,100000
Maruti Suzuki Ritz,150000
Maruti Suzuki Alto,225000
Maruti Suzuki Dzire,210000
Hyundai i20 Asta,425000
Maruti Suzuki Swift,162000
Tata Indica V2,60000
Mahindra Scorpio VLX,650000
Toyota Innova 2.5,750000
Mahindra Xylo E8,375000
Hyundai i20 Magna,230000
Maruti Suzuki Omni,35999
Mahindra KUV100,380000
Mahindra KUV100 K8,560000
Datsun Go Plus,285000
Ford Endeavor 4x4,2900000
Tata Indica V2,39999
Hyundai Santro Xing,85000
Maruti Suzuki Wagon,395000
Maruti Suzuki Swift,175000
Maruti Suzuki Alto,400000
Toyota Innova 2.5,750000
Maruti Suzuki Alto,250000
Maruti Suzuki Alto,425000
Volkswagen Polo Highline1.2L,525000
Mahindra Logan,130000
Maruti Suzuki 800,30000
Mahindra Scorpio,475000
Chevrolet Sail 1.2,300000
Hyundai Santro AE,60000
Maruti Suzuki Wagon,100000
Hyundai Eon,260000
Tata Manza,100000
Toyota Etios G,265000
Hyundai Getz Prime,115000
Toyota Qualis,180000
Hyundai Santro Xing,45000
Tata Indica eV2,50500
Honda City 1.5,270000
Tata Zest XE,290000
Mahindra Quanto C4,325000
Tata Indigo eCS,160000
Maruti Suzuki Swift,350000
Hyundai Elite i20,290000