In [2]:
import pandas as pd

In [18]:
data = {
    'states': ['Noirville', 'Shadowville', 'Gotham', 'Crimsonia', 'Nightfall', 'Ravenholm'],
    'capital': ['Shadowhaven', 'Bloodstone', 'Nightshade', 'Blackwing', 'Moonstone', 'Aurora'],
    'debt': [1000000, 2000000, 3000000, 4000000, 5000000, 6000000],
    'population': [500000, 1000000, 1500000, 2000000, 2500000, 3000000]
}
df = pd.DataFrame(data)

In [15]:
df.loc[df['debt']>3e6,'states'] = 'winners'

In [19]:

df

        states      capital     debt  population
0    Noirville  Shadowhaven  1000000      500000
1  Shadowville   Bloodstone  2000000     1000000
2       Gotham   Nightshade  3000000     1500000
3    Crimsonia    Blackwing  4000000     2000000
4    Nightfall    Moonstone  5000000     2500000
5    Ravenholm       Aurora  6000000     3000000