In [56]:
import pandas as pd
import numpy as np
rand = np.random.RandomState(2334233)

In [57]:


data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Helen', 'Ivy', 'Jack'],
    'Age': [25, 30, 22, 28, 31, 27, 24, 29, 23, 26],
    'Country': ['USA', 'Canada', 'UK', 'Australia', 'USA', 'Canada', 'UK', 'Australia', 'USA', 'Canada']
}

df = pd.DataFrame(data)

In [58]:

df["salary"] = rand.randint(20000,60000,10)

In [59]:
g = df.groupby(by=["Country"])
print(g.first())
g["Age"].mean()

              Name  Age  salary
Country
Australia    David   28   23087
Canada         Bob   30   58089
UK         Charlie   22   24444
USA          Alice   25   56585

Country
Australia    28.500000
Canada       27.666667
UK           23.000000
USA          26.333333
Name: Age, dtype: float64

In [60]:
df["Age Group"] = df["Age"].apply(lambda x: "Young" if x<30 else "Senior")
df

      Name  Age    Country  salary Age Group
0    Alice   25        USA   56585     Young
1      Bob   30     Canada   58089    Senior
2  Charlie   22         UK   24444     Young
3    David   28  Australia   23087     Young
4      Eve   31        USA   57705    Senior
5    Frank   27     Canada   54567     Young
6    Grace   24         UK   26707     Young
7    Helen   29  Australia   37702     Young
8      Ivy   23        USA   37273     Young
9     Jack   26     Canada   39812     Young