In [2]:
import pandas as pd

In [3]:
car = pd.read_csv('cleaned_car.csv')

,Unnamed: 0,name,company,year,Price,kms_driven,fuel_type
0,0,Hyundai Santro Xing,Hyundai,2007,80000,45000,Petrol
1,1,Mahindra Jeep CL550,Mahindra,2006,425000,40,Diesel
2,2,Hyundai Grand i10,Hyundai,2014,325000,28000,Petrol
3,3,Ford EcoSport Titanium,Ford,2014,575000,36000,Diesel
4,4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...,...
810,810,Maruti Suzuki Ritz,Maruti,2011,270000,50000,Petrol
811,811,Tata Indica V2,Tata,2009,110000,30000,Diesel
812,812,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,813,Tata Zest XM,Tata,2018,260000,27000,Diesel
814,814,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel